{% extends "base_dashboard.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static('bower/jqwidgets/jqwidgets/styles/jqx.base.css') }}" />
<link rel="stylesheet" href="{{ static('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ static('node_modules/jquery.json-viewer/json-viewer/jquery.json-viewer.css') }}" />
<link rel="stylesheet" href="{{ static('css/autocomplete.css') }}">
<link rel="stylesheet" href="{{ static('css/subm_viewer.css') }}">
<style>
    body.layout-admin #wrapper{ z-index: -1; }
</style>>
{% endblock %}

{% block dash_content %}
<div class='row top_panel'>
    <div class='col-12'>
        <div class="form-group">
            <input type="text" class="form-control" id="globalsearch" placeholder="Search anything to show the forms">
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-9' id='viewer'>
        <pre id="json-renderer" class='json-document'></pre>
    </div>
    <div class='col-md-3'>
        <div class="card">
            <div class='card-header'>Editing the RAW ODK data</div>
            <div class="card-body">
                <ol>
                    <li class="card-text">Double click on the record on the right to edit</li>
                    <li class="card-text">Specify an edit reason</li>
                    <li class="card-text">Specify whether the already processed data should be reprocessed again</li>
                    <li class="card-text">Save</li>
                    <li class="card-text">The system will automatically process the modified data</li>
                </ol>
                <div class="form-group editing" style='display: none;'>
                    <label for='change_reason'>Edit Reason</label>
                    <input type="textarea" class="form-control" id='change_reason' name="change_reason">
                </div>
                <div class="form-group editing" style='display: none;'>
                    <label for='reprocess'>Reprocess the data?</label><br />
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reprocess" id="reprocess_yes" value="yes">
                        <label class="form-check-label" for="reprocess_yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reprocess" id="reprocess_no" value="no">
                        <label class="form-check-label" for="reprocess_no">No</label>
                    </div>
                </div>
                <div class='actions editing text-center' style='display: none;'>
                    <button class="btn btn-primary save-edits">Save Edits</button>
                    <button class="btn btn-danger cancel-edits">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modals %}
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title">Confirm Edits</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='modal_message'>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close</button>
        <button id='confirm' type="button" class="btn btn-outline-success btn-sm">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxcore.js') }}"></script>
<script type="text/javascript" src="{{ static('bower/jqwidgets/jqwidgets/jqxnotification.js') }}"></script>

<script type='text/javascript' src="{{ static('node_modules/jquery.json-viewer/json-viewer/jquery.json-viewer.js') }}"></script>
<script type='text/javascript' src="{{ static('bower/jQuery-Autocomplete/dist/jquery.autocomplete.min.js') }}"></script>
<script type='text/javascript' src="{{ static('js/badili_dash.js') }}"></script>

<script type='text/javascript'>
    $(document).ready(function(){
        dash.initiateDataEditing();
    });
</script>
{% endblock %}
