#json-renderer{
    min-height: 500px;
    max-height: 700px;
    overflow:  auto;
}
pre#json-renderer {
  border: 1px solid #aaa;
}
#json_editor {
    width: 100%;
    min-height: 600px;
    font-size: smaller;
}